/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url(https://fonts.google.com/specimen/Quicksand);

body {
  background-color: lightpink;
  font-family: "Helvetica", sans-serif;
  font-style: oblique
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #00000;
}


h1 {
  font-family: "Merriweather", sans;
  font-size: 32px;}
h2 {font-family: "Merriweather";}
h3 { font-family: "Trebuchet MS";
}
p {
  font-family: "Open Sans", sans;
  border-style: double;
  border-width: 3px;
  border-color: lightcoral
  }
  ul { font-family: "Open Sans";
    border-style: dashed;
    border-width: 3px;
border-color: lightcoral}
ol {border-style: groove;
border-color: lightcoral;
border-width: 5px}
table, tr, th, td {border: 1px solid black;
  border-style: solid;
